.homepage {
  height: 101vh;
  width: 100%;
  background-image: url("/assets/Page 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.board {
  margin-top: 7.7vw;
  width: 14vw;
  max-width: 15vw;
  object-fit: contain;
}
@media (max-width: 1068px) {
  .homepage {
    background-image: url("/assets/MobilePage.png");
  }

  .board {
    margin-top: 17vw;
    width: 25vw;
    max-width: 120px;
  }
}

@media (max-width: 768px) {
  .homepage {
    background-image: url("/assets/MobilePage.png");
  }

  .board {
    margin-top: 13vw;
    width: 38vw;
    max-width: none;
  }
}


